<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>線上購物網站</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <header>
      <div class="user-section">
        
        {% if state != undefined %}
        <a href="/signout" id="home_signout"
          ><img src="/signout.jpg" alt="登出" class="icon"
        /></a>
        {% endif %}

        <a href="/login" id="home_login"
          ><img src="/login.png" alt="登入" class="icon"
        /></a>
        <a href="cart" id="home_cart"
          ><img src="/cart.jpg" alt="購物車" class="icon"
        /></a>
      </div>
    </header>

    <main>
      <form action="update/coat/size/price/quantity" method="POST" onsubmit="submitForm(event, 'quantity1')">
        <section class="product">
          <img src="/a.png" alt="商品1" />
          <h2>ESSENTIALS</h2>
          <p>FOG拉鍊棉外套袖口反光20年新款ESSENTIALS Raglan Full Zip Hoodie</p>
          <!-- 商品描述 -->
          <!-- 價格和數量(預設值是1) -->
          <div class="price-container">
            <span class="currency-symbol">$</span>
            <input name="price" class="price" value="4500" readonly>
          </div>
          <label for="quantity1">數量：</label>
          <input type="number" id="quantity1" name="quantity" value="1" oninput="validateQuantity('quantity1')"/>
            
          <!-- 尺寸選項 -->
          <label for="size1">尺寸：</label>
          <select id="size1" name="size">
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
          </select>
          
          <button type="submit" class="add-to-cart">加入購物車</button>
        </section>
      </form>  

      <form action="update/Pants/size/price/quantity" method="POST" onsubmit="submitForm(event, 'quantity2')">
        <section class="product">
          <img src="/b.jpg" alt="商品2" />
          <h2>ESSENTIALS</h2>
          <p>FOG Essentials 鋪棉長褲 Fear Of God Essentials Pullover reflecti</p>
          <!-- 商品描述 -->
          <!-- 價格和數量(預設值是1) -->
          <div class="price-container">
            <span class="currency-symbol">$</span>
            <input name="price" class="price" value=3500 readonly></input>
          </div>
          <label for="quantity2">數量：</label>
          <input type="number" id="quantity2" name="quantity" value="1" oninput="validateQuantity('quantity2')"/>

          <!-- 尺寸選項 -->
          <label for="size1">尺寸：</label>
          <select id="size1" name="size">
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
          </select>

          <button type="submit" class="add-to-cart">加入購物車</button>
        </section>
      </form>

      <form action="update/sweater/size/price/quantity" method="POST" onsubmit="submitForm(event, 'quantity3')">
        <section class="product">
          <img src="/c.jpg" alt="商品3" />
          <h2>ESSENTIALS</h2>
          <p>FEAR OF GOD FOG ESSENTIALS 複線胸前字母LOGO 寬鬆圓領衛衣針織毛衣</p>
          <!-- 商品描述 -->
          <!-- 價格和數量(預設值是1) -->
          <div class="price-container">
            <span class="currency-symbol">$</span>
            <input name="price" class="price" value=4000 readonly></input>
          </div>
          <label for="quantity3">數量：</label>
          <input type="number" id="quantity3" name="quantity" value="1" oninput="validateQuantity('quantity3')"/>

          <!-- 尺寸選項 -->
          <label for="size1">尺寸：</label>
          <select id="size1" name="size">
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
          </select>

          <button type="submit" class="add-to-cart">加入購物車</button>
        </section>
      </form>
      <!-- 可以添加更多商品 -->

      <script src="/home.js"></script>
    </main>
  </body>
</html>
